<div class="content" role="main">
    <h1>Welcome to {{title}}!</h1>
    <hr/>
    <div align="left">
      <h2>Algorithms</h2>
      <ul>
          <li><a href="#">tic tac toe</a></li>
          <li><a href="#">hanoi towers</a></li>
          <li><a routerLink="/Sudoku">sudoku</a></li>
      </ul>
      <h2>A.I. Apps</h2>
      <ul>
        <li><a href="#">C# Accord</a></li>
        <li><a href="#">C++ OpenCV</a></li>
      </ul>
      <h2>Backend</h2>
      <ul>
        <li><a href="#">C#</a></li>
        <li><a href="#">C++</a></li>
        <li><a href="#">Node Js</a></li>
      </ul>
      <hr>
      <a routerLink="/Home">[Home]</a>      
    </div>
  </div>
