<div class="content" role="main">
    <h1>Welcome to {{title}}!</h1>
    <hr/>
    <div align="left">
      <h2>Games</h2>
      <ul>
        <li><a routerLink="/Hanoi">hanoi towers</a></li>
        <li><a routerLink="/Sudoku">sudoku</a></li>
        <li><a routerLink="/TicTacToe">tic tac toe</a></li>
      </ul>
      <h2>Algorithm</h2>
         <ul>
          <li><a href="#">[TAOCP]</a></li>
        </ul>
      <h2>A.I.</h2>
      <ul>
        <li><a href="#">C# Accord</a></li>
        <li><a href="#">C++ OpenCV</a></li>
        <li><a href="#">Neural Networks</a></li>
        <li><a href="#">Machine Learning</a></li>
      </ul>
      <h2>Backend</h2>
      <ul>
        <li><a routerLink="/UnitTesting">Node Js</a></li>
        <li><a href="#">C#</a></li>
        <li><a href="#">C++</a></li>
        <li><a href="#">Python</a></li>
      </ul>
      <h2>Environments</h2>
      <ul>
        <li><a href="#">CodeSandbox</a></li>
        <li><a href="#">Git Hub CodeSpaces</a></li>
      </ul>
    </div>
  </div>
