<div class="content" role="main">
    <h1>Welcome to {{title}}!</h1>
    <hr/>
    <div align="left">
      <h2>Games</h2>
      <ul>
        <li><a routerLink="/TicTacToeOnline">tic tac toe (online) - [ALGORITMOS - MINMAX]</a></li>
        <li><a routerLink="/TicTacToe">tic tac toe (offline) - [ALGORITMOS - MINMAX]</a></li>
        <li><a routerLink="/Hanoi">hanoi towers - [ALGORITMOS - RECURSION]</a></li>
        <li><a routerLink="/Sudoku">sudoku</a></li>
      </ul>
      <h2>Testing</h2>
      <ul>
        <li><a routerLink="/Chat">[chat]</a></li>
        <li><a routerLink="/UnitTesting">[Node.js]</a></li>
      </ul>
      <h2>Backend</h2>
      <ul>
        <li><a href="https://webapiangulardemo.somee.com/">[.NET CORE / C# / C++]</a></li>
        <li><a href="https://jh6mc8-4000.csb.app/index" target="_blank">[Node Js - Prod]</a></li>
        <li><a href="https://398xnm-4000.csb.app/INDEX" target="_blank">[Node Js - Test]</a></li>
        <li><a href="https://2ylppr-3000.csb.app" target="_blank">[Node Js - Chat - Test]</a></li>        
        <li><a href="#" target="_blank">[Node Js - Chat - Prod]</a></li>
      </ul>
      <h2>Front End</h2>
      <ul>
        <li><a href="https://apereznwo.github.io/CS_WebApiAngularDemo-forked-/">[ENV_TEST]</a></li>
        <li><a href="https://apereznwo.github.io/AngularMCSD_Public/">[ENV_DEV]</a></li>
        <li><a href="https://apereznwo.github.io/AngularMCSD/">[ENV_PROD]</a></li>
      </ul>
      <h2>Repos</h2>
      <ul>
        <li><a href="https://github.com/aperezNWO/">Git Hub</a></li>
        <li><a href="https://alejandroperezacosta.visualstudio.com/">Visual Studio</a></li>
      </ul>
      <h2>Hosting</h2>
      <ul>
        <li><a href="#">Somee</a></li>
        <li><a href="#">Git Hub Pages</a></li>
      </ul>
      <h2>Algorithm</h2>
         <ul>
          <li><a href="#">[TAOCP]</a></li>
          <li><a href="#">[Coursera]</a></li>
        </ul>
      <h2>A.I.</h2>
      <ul>
        <li><a href="#">C# Accord</a></li>
        <li><a href="#">C++ OpenCV</a></li>
        <li><a href="#">Neural Networks</a></li>
        <li><a href="#">Machine Learning</a></li>
      </ul>
      <h2>Environments</h2>
      <ul>
        <li><a href="#">CodeSandbox</a></li>
        <li><a href="#">Git Hub - CodeSpaces</a></li>
        <li><a href="#">Visual Studio</a></li>
        <li><a href="#">C++ Builder</a></li>
      </ul>
    </div>
  </div>
