<h1>[TIC-TAC-TOE BOARD]</h1>
<hr>
<div class="board" align="center">
    <div class="board-row" *ngFor="let i of [0, 1, 2]">
      <app-square
        *ngFor="let j of [0, 1, 2]"
        [value]="squares[i * 3 + j]"
        (clickEvent)="makeMove(i * 3 + j)"
      ></app-square>
    </div>
</div>
<!--LISTADO INICIO -->
<hr>
<div id="SourceListDiv" align="left">
    <span id="tituloSource">{{this.tituloSource}}</span>
    <label for="_SourceList"></label>
    &nbsp;&nbsp;
    <select id="_SourceList"
            name="_SourceList"
            #_SourceList
            (change)="this._tituloSourceChanged()">
            <option *ngFor="let _SourceName of __SourceList" 
                    [value]   ="_SourceName._index"
                    [selected]="_SourceName._selected">{{_SourceName._value}}
            </option>
    </select>
</div>
<!--LISTADO FIN    -->
<!--BOTONES INICIO -->
<hr>
<input type="button" value="[NUEVO]" (click)="this.newGame();">|<input type="button" value="[INICIAR]" (click)="this.startGame()">
<!--BOTONES FIN    -->
